<div class="container">
  <% @articles.each do |article| %>
  <div class="content-wrapper">
  <div class="row valign-wrapper">
    <div class="col s12">

        <div class="card grey lighten-5">
          <div class="card-content black-text">
            <span class="card-title"><%= article.title %></span>
            <p><%= article.text %></p>
          </div>
          <div class="card-action">
            <div class="waves-effect waves-light btn">
              <%= link_to '見る', "/articles/#{article.id}",method: :get, id: "button-link" %>
            </div>
            <% if user_signed_in? && article.user_id == current_user.id %>
            <div class="waves-effect waves-light btn">
              <%= link_to '編集する', "/articles/#{article.id}/edit",method: :get, id: "button-link" %>
            </div>
            <div class="waves-effect waves-light btn delete-button">
            <%= link_to '削除する', "/articles/#{article.id}",method: :delete, id: "button-link" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
